.text-color{
  color: #74798c;
  font-size: 16px;
}
h3{
  font-size: 18px;
    font-weight: 500;
    left: 20px;
    position: absolute;
    top: 20px
}
.recharts-tooltip-wrapper{
  background-color: red;
  color: white;
  border-color: white;
}
