.information{
  width: 300px;
  align-items: center;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.information--user--calories{
  border-radius: 6px;
    display: flex;
    height: 60px;
    justify-content: center;
    margin: 20px;
    width: 60px;
    background-color: rgba(255,0,0,.07);
}
.information--user--proteines, .information--user--glucides, .information--user--lipides{
  border-radius: 6px;
    display: flex;
    height: 60px;
    justify-content: center;
    margin: 20px;
    width: 60px;
    background-color: rgba(74,184,255,.1);
}
.info-gramme{
  font-size: 20px;
    font-weight: 700;
}
.info-type{
  font-size: 14px;
    
}
