.objectif{
  
  width: 300px;
  height: 300px;
  position: relative;
}
.objectif h3{
  bottom: 100%;
    color: hsla(0,0%,100%,.5);
    left: 20px;
    right: 0;
    width: 70%;
    z-index: 2;
    margin: 0;
}
.objectif-responsive {
  background-color: rgba(255, 0, 0, 1);
}