.score_wrap{
  width: 300px;
  height: 300px;
  margin-right: 20px;
  position: relative;
  background-color: #fbfbfb;
}
.score_wrap h3{
  bottom: 0;
    left: 20px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 10px;
}