.score_wrap{
  width: 300px;
  height: 300px;
  background-color: #fbfbfb;
  left: 50px;
  margin-left: 20px;
}
 .perfscore_h3{
  position: relative;
    left: 65%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    line-height: 24px;
    color: rgb(32, 37, 58);
    font-weight: 700;
    margin: 0;
}
.custom-legend-score{
  position: absolute;
  bottom: 80px;
  left: 100px;
}